*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
  }
  
  table {
    border-collapse: collapse;
  }
  
  textarea {
    white-space: revert;
  }

html {
    background-color: #24252a;
}
li, a, button {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    background-color: #ea1a21;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}
.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    margin-right: 120px;
}
.logo {
    cursor: pointer;
    height: 70px;
    width: auto;
    margin-right: auto;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #000000;
    cursor: pointer;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(35, 38, 40, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(35, 38, 40, 0.8)
}

div.main-content {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    padding: 20px 5%;
    display: grid;
    grid-template-columns: 540px 540px 540px;
    grid-template-rows: 350px 350px;

}
div.box-1 {
    margin-right: 20px;
}
div.box-1 img {
    border-radius: 7%;
    height: 350px;
    width: auto;
}

div.box-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-align: center;
    border-radius: 7%;
    background-color: rgb(255, 255, 255, 0.1);
}
div.box-2 h2 {
    font-size: 42px;
}
div.box-2 p {
    font-size: 26px;
}
div.box-3 img {
    border-radius: 7%;
    height: 350px;
    width: auto;
}

div.box-4 {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-align: center;
    border-radius: 7%;
    background-color: rgb(255, 255, 255, 0.1);
}
div.box-4 h2 {
    font-size: 42px;
}
div.box-4 p {
    font-size: 26px;
}

div.box-5 img {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 7%;
    height: 330px;
    width: 520px;
}

div.box-6 {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-align: center;
    border-radius: 7%;
    background-color: rgb(255, 255, 255, 0.1);
}
div.box-6 h2 {
    font-size: 42px;
}
div.box-6 p {
    font-size: 26px;
}

footer {
    font-family: 'Outfit', sans-serif;
    color: #edf0f1;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
footer a {
    text-decoration: none;
  }
